.checkbox__login {
	display: none;
}
.checkbox__login + label span {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: -1px 4px 0 0;
	vertical-align: middle;
	background: url(/img/radio-uncheck.png);
	background-size: cover;
	cursor: pointer;
}
.checkbox__login:checked + label span {
	background: url(/img/radio-check.png);
	background-size: cover;
}